/* Keen's Basic CSS Template
   Created by Branden Hall / radiantkeen */

fieldset {
padding: 5px;
}

.errorfocus {
  outline: 2px solid #f22;
}

.centertable { margin-right: auto; margin-left: auto; }
.centerdiv { margin-right: auto; margin-left: auto; }
.screencenter { margin: auto; left: 0; top: 0; bottom: 0; right: 0; position: absolute; }
.centertext { text-align: center; }

.basictable { border-collapse: collapse; }
.basictable th { font-weight: bold; text-align: center; }

.st_thin  { padding: 2px; border: 1px solid; }
.st_thick  { padding: 5px; border: 3px solid; }
.st_dashed  { padding: 3px; border: 2px dashed; }

div.st_grey { background-color: rgb(233, 233, 233); border-color: #ccc; }
table.st_grey { background-color: rgb(233, 233, 233); border-color: #ccc; }
table.st_grey th { background-color: #333; color: white; border-color: #ccc; }
table.st_grey td { border-color: #ccc; }
tbody.st_grey_data tr:nth-of-type(odd) { background-color: rgb(200, 200, 200); }

div.st_blue { background-color: #9ccdff; border-color: #037fff; }
table.st_blue { background-color: #9ccdff; border-color: #334d75; }
table.st_blue th { background-color: #4a70aa; color: #ffffff; border-color: #334d75; }
table.st_blue td { border-color: #334d75; }
tbody.st_blue_data tr:nth-of-type(odd) { background-color: #cfe7ff; }

div.st_red  { background-color: #ff9d9c; border-color: #ff0503; }
table.st_red  { background-color: #ff9d9c; border-color: #753a33; }
table.st_red th { background-color: #aa544a; color: #ffffff; border-color: #753a33; }
table.st_red td { border-color: #753a33; }
tbody.st_red_data tr:nth-of-type(odd) { background-color: #ff7675; }

div.st_green { background-color: #cdff9c; border-color: #7fff03; }
table.st_green { background-color: #cdff9c; border-color: #4d7533; }
table.st_green th { background-color: #70aa4a; color: #ffffff; border-color: #4d7533; }
table.st_green td { border-color: #4d7533; }
tbody.st_green_data tr:nth-of-type(odd) { background-color: #e7ffcf; }